<a href="https://colab.research.google.com/github/guylozius/Guy-Lozius/blob/master/machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

#Mushroom Dataset

Source of data: https://www.kaggle.com/datasets/uciml/mushroom-classification

- Description: The dataset shows different feature of a list mushroom. 

- Target: Is it poisonous(class column)

- This a classification  problem

- There are  8124 rows and 23 columns.

- The dataset is from a hypothetical samples, so I do not know,<br/> if it
will be a good prediction on other dataset similar to it.

In [4]:
mushroom_df = pd.read_csv('/content/drive/MyDrive/coding dojo/stack_two/Project 2/mushrooms.csv')
mushroom_df.head()

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,p,x,s,n,t,p,f,c,n,k,...,s,w,w,p,w,o,p,k,s,u
1,e,x,s,y,t,a,f,c,b,k,...,s,w,w,p,w,o,p,n,n,g
2,e,b,s,w,t,l,f,c,b,n,...,s,w,w,p,w,o,p,n,n,m
3,p,x,y,w,t,p,f,c,n,n,...,s,w,w,p,w,o,p,k,s,u
4,e,x,s,g,f,n,f,w,b,k,...,s,w,w,p,w,o,e,n,a,g

In [7]:
# Getting the number of rows and columns
mushroom_df.shape

(8124, 23)

> There are  8124 rows and 23 columns in this dataset.

#Income of Adults Dataset

Source of data: https://www.kaggle.com/datasets/siddharthss/crop-recommendation-dataset

- Description: Dataset show type of crops and factors they growth 
- Target is 'label' the type of crop
- There 15features and 48842 rows 
- Classification problem
- How to deal with the missing values.

In [12]:
Adults_df = pd.read_csv('/content/drive/MyDrive/coding dojo/stack_two/Project 2/adult.csv')
Adults_df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [13]:
## Getting the number of rows and columns
Adults_df.shape

(48842, 15)